<%  @users.each  do |user| %>
<a href="/users/<%= user.id %>" ><div>
<% if user.photo %>     
  <img src= <%= user.photo %> /> 
<% end %>
<div>
<p> <%= user.name %></p>
<p> <%= user.posts_counter %> </p>
</div>
</div> 
</a>
<% end %>