<div class="container">
<div class="row m-4">
<div class="card bio">
<div class="card-body d-inline-flex">
  <p class="comment-author"><%= comment.author.name %></p>
  <p><%= comment.text %></p>
</div>
</div>
</div>
</div>