/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
  color: black;
}

.user-body {
  display: flex;
  justify-content: space-between;
}

.user-title {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-text {
  flex-direction: column;
  vertical-align: bottom;
  margin-top: auto;
}

.user-img {
  max-height: 200px;
  object-fit: fill;
  width: 100%;
}

.bio {
  margin: 0 10px;
  width: 98.3%;
}

.post-title {
  font-size: 1.5rem;
}

.post-text {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-author {
  margin-right: 1rem;
}

.post-description {
  font-size: 1.5rem;
}

.form {
  width: 70%;
  margin: auto;
}

.post-btn {
  padding: 3px 10px;
  margin: 5px;
}

.comment-btn {
  float: right;
  padding: 3px 10px;
  margin: 5px;
}
